<h1>Pages#help</h1>
<p>
  Access the Ruby on Rails Tutorial at the:
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  Get help with this SampleApp from the:
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
  Get help with CSS blueprints from:
  <a href="http://www.bluprintcss.org">The BluePrint CSS Framework</a>.
  Information on Autotest:
  <a href="http://ph7spot.com/musings/getting-started-with-autotest">Getting Started with AutoTest</a>.
</p>
